.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.cuboid-container,
.map-container {
  height: 50%;
}

.center-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: none;
  background-color: #ffffff;
  color: #000000;
  width: 120px;
  height: 120px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
  transition: background-color 0.2s, transform 0.2s;
}

.center-button:hover {
  background-color: #e3e3e3;
}

.center-button:active {
  transform: translate(-50%, -50%) scale(0.9);
}

@media (min-width: 769px) {
  .app-container {
    flex-direction: row;
  }

  .cuboid-container,
  .map-container {
    height: 100vh;
    width: 50vw;
  }
}
